  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">trainingApp</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Results</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">ユーザー</a>
          </li>
        </ul>
      </div>
      <ul class="d-flex">
        <li class="nav-item"> 
          <a class="nav-link active" href="#">ログアウト</a>
        </li>
      </ul>
    </div>
  </nav>