  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">trainingApp</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
      </div>
      <ul class="d-flex">
        <li class="nav-item"> 
          <%= link_to "ログイン", url: new_user_session, class:"nav-link active"%> 
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">新規登録</a>
        </li>
      </ul>
    </div>
  </nav>