<main class="top-main">
  <section class="py-5 text-center container">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Training App</h1>
    </div>
  </section>
  <% if user_signed_in? %>
    <%= render "main" %>
  <% end %>
</main>