<div class="table-responsive-training-index">
  <div class="trainings-title">ユーザー一覧</div>
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">社員番号</th>
        <th scope="col">氏名</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to "詳細", user_path(user.id), class: "table-link-to-show" %></td>
          <td><%= user.employee_number %></td>
          <td><%= "#{user.last_name}#{user.first_name}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>