/* タブレット表示時 */
@media (max-width: 1024px){

}


/* スマホ表示時 */

@media (max-width: 599px){

/**************************************************************************************************************
トップページ
**************************************************************************************************************/
  .navbar .container-fluid{
    height: 100%;
  }
  .collapse .navbar-brand{
    font-size: 13px;
  }
  .nav-link{
    font-size: 5px;
    overflow-wrap: break-word;
  }
  .navbar .container-fluid .d-flex{
    width: 30%;
    justify-content: space-around;
    margin: auto
  }
  .navbar .container-fluid .d-flex .nav-item{
    width: 40%;
  }
  .navbar .container-fluid .d-flex .nav-item .nav-link{
    width: 90%;
    height: 100%;
    padding: 0;
  }
  #top-page-hero{
    height: 25%;
    padding: 10px auto;
  }

  .top-main .col-lg-6{
    height: 10%;
  }
  .top-main .album .container{
    padding: 0;
  }

  .container .row{
    flex-direction: column;
  }

  .top-main .album .container .row .col{
    width: 80vw;
    height: 40%;
    margin: 5px auto;
  }
  .album .container .row .col .card .card-body{
    padding-top: 0;
  }
  .row .col .card .card-body .d-flex{
    padding: 0;
    margin: 0 auto;
    margin-top: 10px;
    height: 60%;
  }
/**************************************************************************************************************
研修内容一覧画面
**************************************************************************************************************/

.table-responsive-training-index {
  font-size: 10px;
}

/**************************************************************************************************************
研修内容詳細画面
**************************************************************************************************************/
main {
  width: 100%;
}
.container-fluid .row .user-info{
  width: 100%;
  margin-bottom: 20px;
}
.user-info .training-contents{
  width: 40%;
}
.container-fluid .row .col-md-9 .training-contents-header{
  font-size: 15px;
}
.row main .user-info{
  font-size: 10px;
}
.training-contents .training-edit-btn{
  width: 50px;
  height: 35px;
}
.training-contents .training-delete-btn{
  width: 50px;
  height: 35px;
}
.training-contents .training-btn{
  display: block;
  height: 100%;
  margin: 0;
  text-align: center;
}
.row .training-comments{
  width: 70%;
}
.training-comments #training_comment_content{
  width: 90%;
}
.training-comments .training-comments-form input{
  width: 50%;
  height: 30px;
  margin-top: 10px;
  font-size: 10px;
  padding: 5px;
}
#training_comment_content{
  font-size: 10px;
}
main .comments{
  width: 90%;
  font-size: 10px;
  margin: 0 5px;
}
.comments .comment-delete{
  width: 25px;
}
.comment-delete img{
  width: 11px;
  height: 11px;
}
.comment .comment-info{
 width: 80%;
}
main .training-return-btn{
  width: 50px;
  font-size: 10px;
}
/**************************************************************************************************************
研修内容詳細画面
**************************************************************************************************************/
body .training-title{
  font-size: 15px
}

body .form-training{
  width: 100vw;
  padding: 0 5px;
}
body .form-training .form-floating{
  width: 90%;
  margin: 0 auto;
  font-size: 10px;
}
body .form-training .submit-btn input{
  font-size: 10px;
  border-style: none;
  border-radius: 5px;
  height: 30px;
}
/**************************************************************************************************************
試験結果詳細画面
**************************************************************************************************************/
#test_comment_content{
  font-size: 10px;
}
/**************************************************************************************************************
試験結果編集画面
**************************************************************************************************************/
body .training-return-btn{
  font-size: 10px;
  width: 50px;
}
/**************************************************************************************************************
マイページ
**************************************************************************************************************/
.table-responsive .table {
  font-size: 10px;
}
/**************************************************************************************************************
ユーザー一覧画面
**************************************************************************************************************/
body .table-responsive-user-index{
  width: 100%;
}
.table-responsive-user-index .table{
  font-size: 10px;
}
}