/*******************************************************************************************************
********************************************************************************************************
共通部分
********************************************************************************************************
*******************************************************************************************************/

.container-fluid{
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row{
  width: 100%;
}
/*******************************************************************************************************
********************************************************************************************************
TOPページ
********************************************************************************************************
*******************************************************************************************************/
.top-main{
  width: 100vw;
  height: 100vh;

}

.top-main .container{
  height: 30%;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

.top-main .container .col-lg-6{
  height: 100%;
}

.top-main .container .col-lg-6{
}

.fw-light{
  font-size: 30px;
  text-align: center;
}
.album{
  height: 50%;

}
.album .container{
  height: 100%;

}
.album .container .row{
  height: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #f8f9fa;
}

.album .container .row .col{
  width: 30vw;
  padding: 5px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
}


.album .container .row .col .card{
  height: 100%;
}

.album .container .row .col .card-body{
  height: 100%;
  background-color: #ffffff;
  padding-top: 3rem;

}

.card-body .d-flex{
  justify-content: center;
  padding-top: 3rem;
}

.card-text{
  font-size: 20px;
}
.btn{
  height: 2rem;
  width: 3rem;
  color: #6c757d;
  border-color: #6c757d;
}

/*******************************************************************************************************
********************************************************************************************************
研修内容投稿ページ
********************************************************************************************************
*******************************************************************************************************/
.training-title{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
}

.form-training{
  width: 70vw;

}

.form-training .form-floating{
  width: 80%;
  margin: 0 auto;
}

.form-training .form-floating .form-control{
  width: 100%;
  padding: 5px;
}

.form-training .submit-btn{
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.form-training .submit-btn input{
  width: 20%;
  padding: 5px;
}
/*******************************************************************************************************
********************************************************************************************************
研修内容一覧ページ
********************************************************************************************************
*******************************************************************************************************/
.trainings-title{
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.table-responsive-training-index {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 0 10px;
}

.table{
  width: 100%;
}
/*******************************************************************************************************
********************************************************************************************************
研修内容詳細ページ
********************************************************************************************************
*******************************************************************************************************/
.training-contents{
  width: 40vw;
}
.training-content{
  width: 100%;
  word-break: break-all;
}

.training-btn{
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 20px;
}

.training-edit-btn{
  background-color: gray;
  margin-left: 60px;
  padding: 10px;
  border-radius: 5px;
  display: block;
}

.training-delete-btn{
  background-color: red;
  margin-top: 20px;
  margin-left: 60px;
  padding: 10px;
  border-radius: 5px;
  display: block;
}

.training-return-btn{
  width: 10vw;
  text-align: center;
  background-color: lightgray;
  margin: 20px auto 0;
  padding: 10px;
  border-radius: 5px;
  display: block;
}
/*******************************************************************************************************
研修内容詳細ページ コメント欄
*******************************************************************************************************/
.training-comments{
  width: 40vw;
  margin: 0 auto;
}

.training-comments-form{
  width: 100%;
  word-break: break-all; 
}

#training_comment_content{
  width: 80% ;
  display: block;
  margin: 0 auto;
  padding: 5px;
}

.training-comments-form input{
  width: 30%;
  height: 5vh;
  margin: 15px auto 10px ;
  display: block;
  text-align: center;
  background-color: lightblue;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  color: #ffffff;
}

.comments{
  width: 70vw;
  margin: 0 auto;
}
.comment{
  width: 100%;
  display: flex;
}
.comment-delete{
  height: 100%;
  width: 2vw;
}
.comment-info{
  width: 14vw;
}
.comment-text{
  width: 48vw;
  overflow-wrap: break-word;
}