html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin{
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.w-100{
  margin-top: 10px;
}

.w-100 input{
  color: #ffffff;
  background: none;
  border: none;
}

.field_with_errors{
  display: contents;
}